@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');

// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto Condensed";
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням
$colorLite: #ffff;
// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 0;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 270;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *-container
Наприклад header-container, main-container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="-container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="-container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
@import "typography";


.intro {
	margin-bottom: rem(120);
	&-slide {
		position: relative;
		display: flex;
		min-height: 100vh;
		align-items: center;
		& img {
			position: absolute;
			top: 0;
			min-height: 100vh;
			width: 100%;
			object-fit: cover;
		}
	}
	&-wrapper {
		width: 67%;
		margin: 0 auto;
	}
	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: rem(0);
		width: rem(480);
		z-index: 3;
		&__title {
			margin-bottom: rem(20);
			font-family: 'Oswald';
			font-size: rem(65);
			font-weight: bold;
			text-transform: uppercase;
		}
		&__p {
			margin-top: rem(40);
			margin-bottom: rem(40);
			font-size: rem(20);
			font-weight: bold;
			line-height: rem(30);
		}
		&__btn {

		}
	}
}
.advantages {
	margin-bottom: rem(120);
	&-title {
		margin-bottom: rem(60);
		line-height: rem(50);
		&__text {
			font-size: rem(20);
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			width: 65%;
			margin: 0 auto;
			align-items: end;
		}
	}
	&-cards {
		position: relative;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		height: rem(321);
		:nth-child(even) {
			top: rem(90);
		}
		// :not(:nth-last-child(0)){
		// 	margin-left: rem(29);
		// }
		&::after {
			content: "";
			position: absolute;
			margin-top: rem(50);
			height: rem(221);
			width: 100vw;
    		background-color: #1D59A0;
    		z-index: -1;
    		left: 50%;
    		transform: translateX(-50%);
		}
		&__card {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			width: rem(170);
			height: rem(231);
			background-color: #D7E5F5;
			width: rem(170);
			height: rem(231);
			text-align: center;
			&-icon {
				width: rem(50);
				height: rem(50);
			}
		}
	}
}
.workprocess {
	position: relative;
	width: 90%;
	height: rem(1140);
	&-title-wrapper {
		width: 52%;
		margin: 0 auto;
	}
	&-title {
		margin-bottom: rem(60)
	}
	&-wrapper {
		display: flex;
		width: 87%;
	}
	&-cardanimg {
		position: absolute;
		bottom: 0;
		right: 0;
		& img {
		width: rem(198);
		height: rem(610);
		}
		
	}
	&-background {
		width: 70% ;
		height: rem(700);
		background-color: #1D59A0;
	}
	&-content-wrapper {
		position: relative;
		display: flex;
		justify-content: end;
		align-items: center;
		width: 30%;
	}
	&-content {
		display: flex;
		position: absolute;
		width: rem(900);
		height: rem(460);
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: rem(370);

		}
		&__text {
			line-height: rem(20);
		}
	}
}
.services {
	position: relative;
	top: -235px;
	width: 100vw;
	height: rem(800);
	&-title {
		margin-bottom: rem(60);
		text-align: center;
	}
	&-wrapper {
		position: absolute;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
	}
		
	
	&-background {
		width: 46% ;
		height: rem(700);
		background-color: #1D59A0;
		z-index: -2;
	}
	&-content-wrapper {
		position: relative;
		display: flex;
		width: 44%;
		align-items: center;
	}
	&-content {
		display: flex;
		position: absolute;
		width: rem(1115);
		height: rem(570);
		
		&__cards {
			display: flex;
			flex-wrap: wrap;
			width: rem(900);
			height: rem(370);	
		}
		&__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			line-height: rem(20);
			width: rem(270);
			height: rem(270);
			margin: 15px;
			background-color: #D7E5F5;
		}
		&__btn {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	&-card {
		&__circle {
			width: rem(60);
			height: rem(60);
			border-radius: 50%;
			background-color: rgba(14, 51, 103, 0.1);
		}
	}
}