section {
    overflow: hidden;
    
}
button {
    width: rem(200);
    height: rem(60);
    font-family: 'Oswald';
    font-size: rem(20);
    text-transform: uppercase;
    background-color: #1D59A0;
}






.title {
    font-family: 'Oswald';
    font-size: rem(50);
    font-weight: bold;
    text-transform: uppercase;
}















.is-lite {
    color: $colorLite;
}