section {
    overflow: hidden;
    
}
button {
    width: rem(200);
    height: rem(60);
    font-family: 'Oswald';
    font-size: rem(20);
    text-transform: uppercase;
    background-color: #1D59A0;
}

p {
    line-height: rem(20);
}




.title {
    font-family: 'Oswald';
    font-size: rem(50);
    font-weight: bold;
    text-transform: uppercase;
}
.subtitle {
    font-family: 'Oswald';
    font-size: rem(26);
    font-weight: bold;
    text-transform: uppercase;
}
.dark-background {
    background-color: RGBA(160,160,160,0.7);
    
}
.is-lite {
    color: $colorLite;
}